# Compilação e Binários
*.class
bin/
out/
*.jar
*.war
*.nar
*.ear

# Arquivos Compactados
*.zip
*.tar.gz
*.rar

# Logs e Temporários
*.log
hs_err_pid*
replay_pid*
.mtj.tmp/

# Eclipse
.project
.classpath
.settings/
.metadata/
bin/

#  IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
